# MkDocs build output
voxels-docs/site/

# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Heroku
.env.local
